.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    height: 95%;
  }
  
  .card:hover {
    background-color: white;
    color: black;
  }
  
  @media (max-width: 550px) {
    .card {
      width: 100%;
    }
  }
  
  .poster {
    border-radius: 10px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
    font-weight: bold;
  }
  
  .subTitle {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    padding: 2px 2px;
    padding-bottom: 6px;
    text-transform: capitalize;
  }